#bs-example-navbar-collapse-1, #navbar {
    background-color: black;
}

#navbar-brand {
    background-color: black;
    color: white;
}

#register {
    float: right;
}

#registerButton {
    background-color: whitesmoke;
}

#registerButton:hover {
    background-color: grey;
    color: white;
}