#inputContext {
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
}

#inputTextMessage{
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
}

ul.dropdown-menu li {
    cursor: hand !important;
    cursor: pointer !important;
}



