blockquote {
    border-left: none;
}

.quote-badge {
    background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 17px;
    background-color: cornflowerblue;
    color: white;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.quotation-mark {
    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
}

.quote-text {
    font-size: 19px;
    margin-top: -65px;
}

#header, #topwingmenlabel {
    color: white;
    text-shadow: 2px 2px 4px white;
    text-align: center;
}

/**
 * Profile image component
 */
.profile-header-container {
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 200px;
    height: 200px;
    border: 2px solid;
}

.profile-header {
    margin-top: 30px;
}

/**
 * Ranking component
 */

.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
    font-size: 24px;
}

.label.label-default.rank-label {
    background-color: rgb(81, 210, 183);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

