body {
    background-image: url(../../../../../../img/5049dacb.jpg); 
    
}

#logoimage {
    height: 2em;
    width: 6em;
}

#navbar {
    background-color: black;
    color: white;
}

#responseButton {
    text-decoration: none;
    color: white;
}

#responseButton:hover {
    color: white;
}

.profileList {
    background-color: white;
    color: black;
}

#logo {
    display: inline-block;
    margin-top: 10px;
}

#dropdownMenu1 {
    background-color: transparent;
    color: white;
    border: none;
}

#uiview {
    margin-top: 75px;
}

.navbarlink {
    color: white;
    text-decoration: none;
    margin-top: 3px;
}

.btn-group {
    margin-top: 28px;

}