body {
    background-image: url(../../../../../../img/5049dacb.jpg);
}

h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
    background-color: transparent;
}

.main-container { 
    background-color: transparent;
    padding-top: 15px;
    margin-top: -20px;
    border: none;
}

.footer {
    width: 100%;
}  

#logoimage {
    height: 1.8em;
    width: 5em;
}

#navbar {
    background-color: black;
}

.navbarlink {
    color: white;
    text-shadow: 1px 1px 2px white;
    font-size: medium;
}

account-button {
    color: white;
}

.footer {
    color: white;
}