body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../../../img/5049dacb.jpg) no-repeat center center fixed;
    background-size: cover;
    width:100%;
    height:100%;
}

h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
    background-color: transparent;
}

.main-container { 
    background-color: transparent;
    padding-top: 15px;
    margin-top: -20px;
    border: none;
}

.footer {
    width: 100%;
}  

#logoimage {
    height: 1.8em;
    width: 8em;
}

#navbar {
    background-color: black;
}

.navbarlink {
    color: white;
    text-shadow: 1px 1px 2px white;
    font-size: medium;
}

#account-button {
    color: white;
    text-align: center;
    width: 160px;
}

.footer {
    color: white;
}