#navbar {
    background-color: black;
    color: white;
}

#responseButton {
    text-decoration: none;
    color: white;
}

#responseButton:hover {
    color: white;
}

#profileDropdown {
    margin-top: 8px;
}

.profileList {
    background-color: white;
    color: black;
}

#logo {
    display: inline-block;
    margin-top: 10px;
}

#dropdownMenu1 {
    background-color: transparent;
    color: white;
    border: none;
}

#sidebar {
    background-color:gray;
    border-radius: 25px;
    margin-top: 55px;
    float: left;
    overflow: auto;
    position: fixed;
    height:95%;
    margin-left:25px
}

.sidebarLink {
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-bottom:10px;
    margin-top:5px;
}

#uiview {
    margin-top: 75px;
}
.navbarlink {
    padding: 25px 50px 25px 50px;
    color: white;
    text-decoration: none;
    margin-top: 15px;
}
.btn-group {
    margin-top: 15px;

}