<link href="../../../css/app/dashboard/dashboard.css" rel="stylesheet" />

<div class="container">
    <div class='row'>
        <div class="col-md-6">
            <button class="btn btn-block btn-lg btn-info" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 50"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 50 Keys"
                    data-description="Get 50 keys to get awesome help!"
                    data-amount="500">
                <i class="fa fa-key"></i> Buy 50 Keys
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-block btn-lg btn-info" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 100"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 100 Keys"
                    data-description="Get 100 keys to get awesome help!"
                    data-amount="1000">
                <i class="fa fa-key"></i> Buy 100 Keys
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-block btn-lg btn-info" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 250"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 250 Keys"
                    data-description="Get 250 keys to get awesome help!"
                    data-amount="2500">
                <i class="fa fa-key"></i> Buy 250 Keys
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-block btn-lg btn-info" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 500"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 500 Keys"
                    data-description="Get 500 keys to get awesome help!"
                    data-amount="5000">
                <i class="fa fa-key"></i> Buy 500 Keys
            </button>
        </div>
    </div>
</div>