<link href="../../../css/app/keys/keys.css" rel="stylesheet" />

<div class="container">
    <div class='row'>
        <div class="col-sm-12 col-md-6">
            <div class="btn btn-block btn-lg btn btn-primary" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 50"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 50 Keys"
                    data-description="Get 50 keys to get awesome help!"
                    data-amount="500">
                <h1>$5.00</h1>
                <i class="fa fa-5x fa-key"></i>
                <hr />
                <h4>50 Keys</h4>
                <h1 class="total"><i class="fa fa-key"></i>50</h1>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="btn btn-block btn-lg btn-primary" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 100"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 110 Keys"
                    data-description="Get 110 keys to get awesome help!"
                    data-amount="1000">
                <h1>$10.00</h1>
                <i class="fa fa-5x fa-key"></i>
                <hr />
                <h4>100 Keys</h4>
                <h4 class="bonus">+ 10 bonus Keys</h4>
                <h1 class="total"><i class="fa fa-key"></i>110</h1>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="btn btn-block btn-lg btn-primary" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 250"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 280 Keys"
                    data-description="Get 280 keys to get awesome help!"
                    data-amount="2500">
                <h1>$25.00</h1>
                <i class="fa fa-5x fa-key"></i>
                <hr />
                <h4>250 Keys</h4>
                <h4 class="bonus">+ 30 bonus Keys</h4>
                <h1 class="total"><i class="fa fa-key"></i>280</h1>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="btn btn-block btn-lg btn-primary" stripe-checkout="tokenReceived" ng-click="numberOfKeys = 500"
                    data-key="pk_test_f09tkybqpQBwkKUTnoHmgtG6"
                    data-name="Buy 560 Keys"
                    data-description="Get 560 keys to get awesome help!"
                    data-amount="5000">
                <h1>$50.00</h1>
                <i class="fa fa-5x fa-key"></i>
                <hr />
                <h4>500 Keys</h4>
                <h4 class="bonus">+ 60 bonus Keys</h4>
                <h1 class="total"><i class="fa fa-key"></i>560</h1>
            </div>
        </div>
    </div>
</div>